{% extends 'base.html' %}

{% block content %}
{% load static %}
    <div class="sticky-top">
        <div class="header">
            <div class="container">
                <div class="mx-auto px-3 d-flex justify-content-between" style="max-width: 500px;">
                    <p class="pt-3 fw-bold" style="font-size: x-large; color: white;">Beranda</p>
                    <button class="btn btn-back mt-3" data-bs-toggle="modal" data-bs-target="#logout"><i class="fad fa-sign-out-alt fa-2x"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="mx-auto content">
            <div class="pt-5 px-5">
                <div class="pb-2">Jadwal Pembayaran Zakat</div>
                <button class="btn w-100" data-bs-toggle="modal" data-bs-target="#editJadwal">
                    <div class="text-center jadwal fw-bold">
                        01 Mei 2022 - 10 Mei 2022
                    </div>
                </button>
            </div>

            <div class="pt-5 px-5">
                <div class="px-3 keterangan fw-bold">
                    <div class="d-flex justify-content-between py-5 px-3">
                        <div class="text-center">
                            <i class="fad fa-hand-holding-usd fa-2x"></i>
                            <br>Pemberi<br>(jiwa)
                            <p>10</p>
                        </div>
                        <div class="text-center">
                            <i class="fad fa-money-bill fa-2x"></i>
                            <br>Tabungan<br>(Rupiah)
                            <p>Rp. 175000</p>
                        </div>
                        <div class="text-center">
                            <i class="fad fa-handshake fa-2x"></i>
                            <br>Penerima<br>(jiwa)
                            <p>20</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fixed-bottom">
            <div class="mx-auto footer">
                <div class="d-flex justify-content-between pt-2 px-5">
                    <div class="text-center px-3">
                        <a href="pemberi" class="linkmenu">
                            <i class="fad fa-hand-holding-usd fa-2x"></i>
                            <br>Pemberi
                        </a>
                    </div>
                    <div class="text-center px-3">
                        <a href="home" class="linkmenu active" id="beranda">
                            <i class="fad fa-home fa-2x"></i>
                            <br>Beranda
                        </a>
                    </div>
                    <div class="text-center px-3">
                        <a href="penerima" class="linkmenu">
                            <i class="fad fa-handshake fa-2x"></i>
                            <br>Penerima
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Logout -->
    <div class="modal fade" id="logout" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="logoutLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content mx-auto" style="background-color: #F9F9FB; border-radius: 10px; max-width: 400px;">
                <div class="modal-body">
                    <div class="w-100 text-end">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="text-center py-3">
                        <h4>Keluar dari aplikasi ?</h4>
                    </div>
                    <div class="pt-3 text-center pb-2">
                        <button type="button" class="btn btn-no me-3" data-bs-dismiss="modal">Tidak</button>
                        <a href="login"><button type="button" class="btn btn-yes">Ya</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Edit Jadwal -->
    <div class="modal fade" id="editJadwal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="editJadwalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content mx-auto" style="background-color: #F9F9FB; border-radius: 10px; max-width: 1000px;">
                <div class="modal-body">
                    <div class="d-flex justify-content-between">
                        <h4 class="fw-bold">Atur Jadwal</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="" id="form-edit-jadwal" class="px-3">
                        <div class="form-group">
                            <label for="jadwalmulai" class="pb-1 pt-3">Jadwal Mulai Pembayaran</label>
                            <input type="date" class="form-control form-input" name="mulaibayar" id="mulaibayar">
                        </div>
                        <div class="form-group">
                            <label for="jadwalakhir" class="pb-1 pt-3">Jadwal Akhir Pembayaran</label>
                            <input type="date" class="form-control form-input" name="akhirbayar" id="akhirbayar">
                        </div>
                        <div class="form-group">
                            <label for="jadwalmulai" class="pb-1 pt-3">Jadwal Mulai Penyaluran</label>
                            <input type="date" class="form-control form-input" name="mulaipenyaluran" id="mulaipenyaluran">
                        </div>
                        <div class="form-group">
                            <label for="jadwalakhir" class="pb-1 pt-3">Jadwal Akhir Penyaluran</label>
                            <input type="date" class="form-control form-input" name="akhirpenyaluran" id="akhirpenyaluran">
                        </div>
                        <div class="form-group">
                            <label for="hargaberas" class="pb-1 pt-3">Harga Beras</label>
                            <input type="text" class="form-control form-input" name="hargaberas" id="hargaberas">
                        </div>
                    </form>
                    <div class="pt-3 text-center pb-2">
                        <button type="button" class="btn btn-no me-3" data-bs-dismiss="modal">Batal</button>
                        <a href=""><button type="button" class="btn btn-yes">Simpan</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.8/jquery.mask.min.js"
        integrity="sha512-hAJgR+pK6+s492clbGlnrRnt2J1CJK6kZ82FZy08tm6XG2Xl/ex9oVZLE6Krz+W+Iv4Gsr8U2mGMdh0ckRH61Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            // Format mata uang.
            $('#hargaberas').mask('000.000.000', { reverse: true });

        })
    </script>
    <script>
        $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
    </script>
</body>

</html>

{% endblock %}