{% extends 'base.html' %}

{% block content %}
{% load static %}
    <div class="sticky-top">
        <div class="header">
            <div class="container">
                <div class="mx-auto px-3 d-flex justify-content-between" style="max-width: 500px;">
                    <p class="pt-3 fw-bold" style="font-size: x-large; color: white;">Beranda</p>
                    <button class="btn btn-back mt-3" data-bs-toggle="modal" data-bs-target="#logout"><i class="fad fa-sign-out-alt fa-2x"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="mx-auto content">
            <div class="pt-5 px-5">
                {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger mt-3">{{ message }}</div>
                    {% endif %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success mt-3">{{ message }}</div>
                    {% endif %}
                {% endfor %}
                {% endif %}
                <div class="pb-2">Jadwal Pembayaran Zakat</div>
                <button class="btn w-100" data-bs-toggle="modal" data-bs-target="#editJadwal">
                    <div class="text-center jadwal fw-bold">
                        {{data.tanggalmulaibayar}} - {{data.tanggalakhirbayar}}
                    </div>
                </button>
            </div>

            <div class="pt-5 px-5">
                <div class="px-3 keterangan fw-bold">
                    <div class="d-flex justify-content-between py-5 px-3">
                        <div class="text-center">
                            <i class="fad fa-hand-holding-usd fa-2x"></i>
                            <br>Pemberi<br>(jiwa)
                            <p>{{ data.jumlahPemberi }}</p>
                        </div>
                        <div class="text-center">
                            <i class="fad fa-money-bill fa-2x"></i>
                            <br>Tabungan<br>(Rupiah)
                            {% if data.totalTabungan.nominal__sum %}
                            <p id="rupiah">Rp. {{data.totalTabungan.nominal__sum}}</p>
                            {% else %}
                            <p>Rp. 0</p>
                            {% endif %}
                        </div>
                        <div class="text-center">
                            <i class="fad fa-handshake fa-2x"></i>
                            <br>Penerima<br>(jiwa)
                            <p>{{ data.jumlahPenerima }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fixed-bottom">
            <div class="mx-auto footer">
                <div class="d-flex justify-content-between pt-2 px-5">
                    <div class="text-center px-3">
                        <a href="/operator/pemberi" class="linkmenu">
                            <i class="fad fa-hand-holding-usd fa-2x"></i>
                            <br>Pemberi
                        </a>
                    </div>
                    <div class="text-center px-3">
                        <a href="/operator/home" class="linkmenu active" id="beranda">
                            <i class="fad fa-home fa-2x"></i>
                            <br>Beranda
                        </a>
                    </div>
                    <div class="text-center px-3">
                        <a href="/operator/penerima" class="linkmenu">
                            <i class="fad fa-handshake fa-2x"></i>
                            <br>Penerima
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Logout -->
    <div class="modal fade" id="logout" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="logoutLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content mx-auto" style="background-color: #F9F9FB; border-radius: 10px; max-width: 400px;">
                <div class="modal-body">
                    <div class="w-100 text-end">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="text-center py-3">
                        <h4>Keluar dari aplikasi ?</h4>
                    </div>
                    <div class="pt-3 text-center pb-2">
                        <button type="button" class="btn btn-no me-3" data-bs-dismiss="modal">Tidak</button>
                        <a href="{% url 'logout' %}"><button type="button" class="btn btn-yes">Ya</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Edit Jadwal -->
    <div class="modal fade" id="editJadwal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="editJadwalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content mx-auto" style="background-color: #F9F9FB; border-radius: 10px; max-width: 1000px;">
                <div class="modal-body">
                    <div class="d-flex justify-content-between">
                        <h4 class="fw-bold">Atur Jadwal</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="/operator/home" id="form-edit-jadwal" class="px-3" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="mulaibayar" class="pb-1 pt-3">Jadwal Mulai Pembayaran</label>
                            <input type="date" class="tm form-control form-input" name="mulaibayar" id="mulaibayar" data-date-format="YYYY-MM-DD" placeholder="yyyy-mm-dd" value="{{data.mulaibayar}}" required>
                        </div>
                        <div class="form-group">
                            <label for="akhirbayar" class="pb-1 pt-3">Jadwal Akhir Pembayaran</label>
                            <input type="date" class="tm form-control form-input" name="akhirbayar" id="akhirbayar" data-date-format="YYYY-MM-DD" placeholder="yyyy-mm-dd" value="{{data.akhirbayar}}" required>
                        </div>
                        <div class="form-group">
                            <label for="mulaipenyaluran" class="pb-1 pt-3">Jadwal Mulai Penyaluran</label>
                            <input type="date" class="tm form-control form-input" name="mulaipenyaluran" id="mulaipenyaluran" data-date-format="YYYY-MM-DD" placeholder="yyyy-mm-dd" value="{{data.mulaipenyaluran}}" required>
                        </div>
                        <div class="form-group">
                            <label for="akhirpenyaluran" class="pb-1 pt-3">Jadwal Akhir Penyaluran</label>
                            <input type="date" class="tm form-control form-input" name="akhirpenyaluran" id="akhirpenyaluran" data-date-format="YYYY-MM-DD" placeholder="yyyy-mm-dd" value="{{data.akhirpenyaluran}}" required>
                        </div>
                        <div class="form-group">
                            <label for="hargaberas" class="pb-1 pt-3">Harga Beras</label>
                            <input type="text" class="form-control form-input" name="hargaberas" id="hargaberas" value="{{data.hargaberas}}">
                        </div>
                    </form>
                    <div class="pt-3 text-center pb-2">
                        <button type="button" class="btn btn-no me-3" data-bs-dismiss="modal">Batal</button>
                        <button type="submit" class="btn btn-yes" form="form-edit-jadwal">Simpan</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.8/jquery.mask.min.js"
        integrity="sha512-hAJgR+pK6+s492clbGlnrRnt2J1CJK6kZ82FZy08tm6XG2Xl/ex9oVZLE6Krz+W+Iv4Gsr8U2mGMdh0ckRH61Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
    </script>

    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js">
    </script>

    <script>
        $(".tm").on("change", function() {
        this.setAttribute(
            "data-date",
            moment(this.value, "YYYY-MM-DD")
            .format( this.getAttribute("data-date-format") )
        )
        }).trigger("change")
    
    </script>

    <script>
        $(document).ready(function () {
            var bilangan = $('#rupiah').text()
            var reverse = bilangan.toString().split('').reverse().join(''), ribuan = reverse.match(/\d{1,3}/g);
            ribuan = ribuan.join('.').split('').reverse().join('');
            $("#rupiah").text(`Rp. ${ribuan}`);
        })
    </script>
</body>

</html>

{% endblock %}