{% extends 'base.html' %}

{% block content %}
{% load static %}
    <div class="sticky-top">
        <div class="header">
            <div class="container">
                <div class="mx-auto px-3" style="max-width: 500px;">
                    <p class="pt-3 fw-bold" style="font-size: x-large; color: white;">Riwayat</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="mx-auto content px-5 pt-5">
            <table class="table" style="width: 100%; border-spacing: 10px;">
                <tr>
                    <th width="85%">Pembayaran Zakat</th>
                    <th class="text-center">Status</th>
                </tr>
                {% if data %}
                {% for d in data %}
                <tr>
                    <td>
                        <span class="fw-bold">Rp. {{ d.nominal }}</span>
                        <br>
                        {{ d.tanggal }}
                    </td>
                    <td>
                        {% if d.status == 1 %}
                            <div class="status-waiting text-center">Menunggu</div>
                        {% elif d.status == 2 %}
                            <div class="status-success text-center">Diterima</div>
                        {% else %}
                            <div class="status-error text-center">Error</div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <tr class="text-center pt-5">
                        <td colspan="2">Tidak ada Data</td>
                    </tr>
                </tr>
                {% endif %}
             </table>
        </div>

        <div class="fixed-bottom">
            <div class="mx-auto footer">
                <div class="d-flex justify-content-between pt-2 px-5">
                    <div class="text-center px-3">
                        <a href="history" class="linkmenu active">
                            <i class="fad fa-list-ul fa-2x"></i>
                            <br>Riwayat
                        </a>
                    </div>
                    <div class="text-center px-3">
                        <a href="home" class="linkmenu" id="beranda">
                            <i class="fad fa-home fa-2x"></i>
                            <br>Beranda
                        </a>
                    </div>
                    <div class="text-center px-3">
                        <a href="profile" class="linkmenu">
                            <i class="fad fa-user fa-2x"></i>
                            <br>Akun Saya
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock %}