{% extends 'base.html' %}

{% block content %}
{% load static %}
    <div class="sticky-top">
        <div class="header">
            <div class="container">
                <div class="mx-auto px-3" style="max-width: 500px;">
                    <p class="pt-3 fw-bold" style="font-size: x-large; color: white;">Bayar Zakat</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="mx-auto content">
            <div class="pt-3 px-4">
                <a href="home"><button class="btn btn-back"><i class="fas fa-angle-left fa-2x"></i></button></a>
            </div>
            {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="px-3">
                        <div class="alert alert-danger mt-3">{{ message }}</div>
                    </div>
                {% endif %}
            {% endfor %}
            {% endif %}
            <form action="/pemberi/payment" id="form-payment" class="px-3" method="POST">
                {% csrf_token %}
                <div class="pt-4 px-5">
                    <div class="form-group">
                        <label for="jumlah" class="pb-1">Jumlah Pemberi Zakat</label>
                        <input type="number" class="form-control form-input" name="jumlah" id="jumlah" placeholder="Masukkan jumlah pemberi zakat">
                    </div>
                </div>
            </form>

            <div class="pt-4 px-5">
                <div class="px-3 harga fw-bold">
                    <div class="pt-3">Total Zakat</div>
                    <h3 class="py-3 fw-bold text-center">
                        <p class="pt-4 fw-bold" id="totalzakat">Rp. 0</p>
                    </h3>
                </div>
            </div>

            <div class="pt-4 px-5">
                <button type="submit" class="btn btn-orange" form="form-payment">Bayar Sekarang</button>
            </div>

            <div class="pt-4 px-5">
                <div class="info p-4 text-center">
                    <div class="info-title fw-bold">
                        Petunjuk
                    </div>
                    <div class="info-content">
                        Perhitungan total zakat adalah harga 2,5 kg beras dikali jumlah pemberi zakat.
                    </div>
                </div>
            </div>
        </div>

        <div class="fixed-bottom">
            <div class="mx-auto footer">
                <div class="d-flex justify-content-between pt-2 px-5">
                    <div class="text-center px-3">
                        <a href="history" class="linkmenu">
                            <i class="fad fa-list-ul fa-2x"></i>
                            <br>Riwayat
                        </a>
                    </div>
                    <div class="text-center px-3">
                        <a href="home" class="linkmenu active" id="beranda">
                            <i class="fad fa-home fa-2x"></i>
                            <br>Beranda
                        </a>
                    </div>
                    <div class="text-center px-3">
                        <a href="profile" class="linkmenu">
                            <i class="fad fa-user fa-2x"></i>
                            <br>Akun Saya
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        var hargaberas = '{{ harga_beras }}';
        $('#jumlah').on('input', () => {
            var jumlah = $('#jumlah').val()
            var totalzakat = 2.5 * hargaberas * jumlah
            totalzakat = totalzakat.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
            $('#totalzakat').text(`Rp. ${totalzakat}`)
        })
    </script>

{% endblock %}